<!DOCTYPE html>
<html>
<head>
	<title>SPIS Accounts List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" 	type="text/css" 		href="../../static/css/bootstrap.css">
	<link rel="stylesheet" 	type="text/css" 		href="../../static/css/bootstrap.min.css">
	<link rel="stylesheet" 	type="text/css" 		href="../../static/css/styles.css">
	<link rel="stylesheet" 	type="text/css"			href="../../static/css/font-awesome.min.css">
	<link rel="stylesheet" 	type="text/css" 		href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" 	type="text/css" 		href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
	<script 				type="text/javascript" 	src="../../static/js/jquery.js"></script>
	<script 				type="text/javascript" 	src="../../static/js/bootstrap.min.js"></script>
	<script 				type="text/javascript"	src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script 				type="text/javascript"  src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
</head>
<body>
	<!-- NAVIGATION -->
	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>                        
	      </button>
	      <a class="navbar-brand" href="/">SPIS LOGO HERE</a>
	    </div>
	    <div class="collapse navbar-collapse" id="navbar">
	      <ul class="nav navbar-nav">
	        <li class="active"><a href="/">Home</a></li>
	      </ul>
	      <ul class="nav navbar-nav navbar-right">
	        <li><a href="#">{{session.user.id}}</a></li>
	        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
	      </ul>
	    </div>
	  </div>
	</nav>
	<!-- END OF NAVIGATION -->

	<div class="container-fluid main-container">
		<!-- BREADCRUMBS -->
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Accounts List</li>
		</ol>
		<!-- END OF BREADCRUMBS -->
		<center><h3>SPIS Accounts List</h3></center><hr>

		<div class="container-fluid">
			<div class="row feature-row" style="padding-top: 20px">
				<div class="col-sm-10 col-sm-offset-1">
					<div class="table-responsive">
						<table id="list-SPIS" class="table table-striped table-bordered" cellspacing="0" width="100%">
					        <thead>
					            <tr>
					                <!-- <th><input type="checkbox" aria-label="..." id="select-all"/></th> -->
					                <th>SPIS Account</th>
					                <th>Description</th>
					                <th>
					                	<select id="status-filter" required>
				                          	<option value="all">Status</option>
				                          	<option value="active">Active</option>
				                          	<option value="archived">Archived</option>
			                        	</select>
			                       	</th>
					            </tr>
					        </thead>
					        <tbody>
					            <tr>
					                <!-- <td><input type="checkbox" aria-label="..." id=""/></td> -->
					                <td>DR. ARVIN'S ACCOCOUNT</td>
					                <td>Some description here and there adakdjakdjas</td>
					                <td>Active</td>
					            </tr>
							</tbody>
					    </table>
					</div>
					<div class="button-group">
                        <button class="btn btn-lime pull-right">Add</button>    
                    </div>
		        </div>
		    </div>
		</div>
	</div>
</body>
<script type="text/javascript">
	$(document).ready(function() {
	    $('#list-SPIS').DataTable({
	    	"bSort": true, 
            "aaSorting": [[0]],
		   	"aoColumns": [
                // { "bSortable": false },
                { "bSortable": true },
                { "bSortable": true },
                { "bSortable": false },
            ], 
		});
	});
</script>
</html>