
<div class="row" id="edit-opt-view">
    <div class="form-container col-md-8" style="padding: 20px">
        <form id="edit-opt-form" class="form-horizontal" role="form" method="POST">
            <input type="hidden" name="edit-p-id" id="edit-p-id">
            <input type="hidden" name="edit-c-id" id="edit-c-id">
            <legend><b>Edit Out-Patient Treatment</b>
            <a class="btn btn-blue" style="float: right; margin-top: -10px !important" id="delete-opt-button">Delete</a></legend>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="edit-opt-date">Date</label>
                <div class="col-sm-8 date-div" id="edit-opt-date-div">
                    <input type="hidden" name="edit-opt-date" id="edit-opt-date">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="edit-opt-doctor">Doctor*</label>
                <div class="col-sm-8">
                    {% if doctor == null %}
                    <select class="form-control" id="edit-opt-doctor" name="edit-opt-doctor" required>
                      <option value="" disabled>Select Doctor</option>
                        {% for doctor in doctors %}
                            <option value="{{doctor.id}}">{{doctor['username.first_name']}} {{doctor['username.middle_name']}} {{doctor['username.last_name']}}</option>
                        {% endfor %}

                    </select>
                    {% else %}
                        <input type="hidden" name="edit-opt-doctor" id="edit-opt-doctor" value="{{doctor.id}}">
                        <input type="text" class="form-control" name="edit-opt-doctor" id="edit-opt-doctor" value="{{user.first_name}} {{user.middle_name}} {{user.last_name}}" disabled>
                    {% endif %}
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-4 control-label" for="edit-opt-hospital">Hospital/Clinic*</label>
                <div class="col-sm-8">

                    <select class="form-control" id="edit-opt-hospital" name="edit-opt-hospital" required>
                      <option value="" disabled>Select Hospital/Clinic</option>

                        {% for hospital in hospitals %}
                            <option name="{{hospital.name}}" value="{{hospital.name}}">{{hospital.name}}</option>
                        {% endfor %}

                    </select>
                </div>
            </div>
            {% if doctor %}
            <div class="form-group">
                <label class="col-sm-4 control-label" for="edit-opt-summary">Summary of Diagnosis*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" name="edit-opt-summary" id="edit-opt-summary" required>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="edit-opt-detailed-diagnosis">Detailed Diagnosis*</label>
              <div class="col-sm-8">
                  <textarea class="form-control" rows="5" name="edit-opt-detailed-diagnosis" id="edit-opt-detailed-diagnosis"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-4 control-label" for="edit-opt-notes">Notes</label>
              <div class="col-sm-8">
                  <textarea class="form-control" rows="5" name="edit-opt-notes" id="edit-opt-notes"></textarea>
              </div>
            </div>
            {% endif %}

            <div class="button-group">
                <a href="/account_list" class="btn btn-gray pull-right">Cancel</a>
                <button type="submit" class="btn btn-lime pull-right" id="edit-btn">Save</button>    
            </div>
        </form>
        {% if doctor %}
        <!-- MEDICATION LIST FOR opt -->
        <form method="POST" action="/delete_medication">
            <legend><b>Medications</b></legend>
            <div class="table-responsive">
                <table id="edit-opt-list-medication" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" aria-label="..." id="select-all"/></th>
                            <th>Name</th>
                            <th>Dosage</th>
                            <th>Frequency</th>
                            <th>Type</th>
                            <th>Instruction</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="button-group">
                <button class="btn btn-red pull-right" type="submit" name="delete" value="true" id="delete">Delete</button>
                <a href class="btn btn-lime pull-right" id="edit-opt-add-medication-button" data-toggle="modal" data-target="#add-medication-modal">Add</a>
            </div>
        </form>
        <!-- END OF MEDICATION LIST FOR opt -->

        <!-- MEDICAL PROCEDURES LIST FOR opt -->
        <form method="POST" action="/delete_medication">
            <legend><b>Medical Procedures</b></legend>
            <div class="table-responsive">
                <table id="edit-opt-list-med-procedure" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th><input type="checkbox" aria-label="..." id="select-all"/></th>
                            <th>Date</th>
                            <th>Description</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
            <div class="button-group">
                <button class="btn btn-red pull-right" type="submit" name="delete" value="true" id="">Delete</button>
                <a href class="btn btn-lime pull-right" id="edit-opt-add-med-procedure-button" data-toggle="modal" data-target="#add-med-procedure-modal">Add</a>
            </div>
        </form>
        <!-- END OF MEDICAL PROCEDURES LIST FOR opt -->

        <legend><b>Add/Edit Attachments</b></legend>
        <div class="form-group">
            <input id="edit-opt-attachments" name="add-opt-attachments[]" type="file" multiple class="file-loading">
        </div>
        {% endif %}
    </div>
    <!-- BILLING FOR opt -->
    <div class="col-md-4"></div>
    <!-- END OF BILLING FOR opt -->
</div>

<script type="text/javascript">
    $("#edit-opt-form").submit(function (event) {
        event.preventDefault();
        edit_opt_meds_table.rows().remove().draw();
        edit_opt_med_procedures_table.rows().remove().draw();
        
        var key = $("#edit-p-id").val();
        var cu = $("#edit-c-id").val();
        {% if doctor %}
        var files = $('#edit-opt-attachments').fileinput('getFileStack');
        if(files.length != 0) {
            $(".unique-name-edit-opt").click();
        } else {
            $.ajax({
                type: "POST",
                url: "/opt_edit/"+ key +"/"+cu,
                data: {                
                    'date':  $("#edit-opt-date-div select[name='date_[year]']").val() + '-' + $("#edit-opt-date-div select[name='date_[month]']").val() + '-' +
                    $("#edit-opt-date-div select[name='date_[day]']").val(),
                    'hospital': $("#edit-opt-hospital").val(),
                    'summary': $("#edit-opt-summary").val(),
                    'detailed-diagnosis': $("#edit-opt-detailed-diagnosis").val(),
                    'notes': $("#edit-opt-notes").val(),
                    'doctor': $("#edit-opt-doctor").val(),

                }
            }).done(function (data) {
                if(data.success) {
                    $('#list-opt-view').show();
                    $('#edit-opt-view').hide();
                    $('#list-opt-view-link').hide();
                    showSnackBar('OPT Record successfully updated.');
                } 
                else {
                    $("#opt-error-response").text(data.error);
                }
            });
        }
        {% else %}
        $.ajax({
            type: "POST",
            url: "/opt_edit/"+ key +"/"+cu,
            data: {                
                'date':  $("#edit-opt-date-div select[name='date_[year]']").val() + '-' + $("#edit-opt-date-div select[name='date_[month]']").val() + '-' +
                $("#edit-opt-date-div select[name='date_[day]']").val(),
                'hospital': $("#edit-opt-hospital").val(),
                'doctor': $("#edit-opt-doctor").val()
            }
        }).done(function (data) {
            if(data.success) {
                $('#list-opt-view').show();
                $('#edit-opt-view').hide();
                $('#list-opt-view-link').hide();
                showSnackBar('OPT Record successfully updated.');
            } 
            else {
                $("#opt-error-response").text(data.error);
            }
        });
        {% endif %}
    });
{% if doctor %}
    $("#edit-opt-attachments").on("filepredelete", function (jqXHR) {
        var abort = true;
        if (confirm("Are you sure you want to delete this file?")) {
            abort = false;
        }
        return abort;
    });

    $('#edit-opt-attachments').on('fileloaded', function (event, file, previewId, index, reader) {
        $('#edit-opt-attachments').fileinput('upload');
    });
    {% endif %}

    $('#delete-opt-button').click(function(e){
        // CONFIRM DIALOG DELETE
        var key = $("#edit-p-id").val();
        $.ajax({
            type: "GET",
            url: "/opt_delete/"+ key,
        }).done(function (data) {
            if(data.hasChildRecords) {
                $.confirm({
                    title: 'Move to Archive',
                    content: 'The record you want to archive has records associated with it. Archive them first.',
                    buttons: {
                        OK: function () {
                            // $.alert('Confirmed!');
                        },
                    }
                });
            } else {
                $.confirm({
                    title: 'Move to Archive',
                    content: 'Are you sure you want to move this record to archive?',
                    buttons: {
                        Confirm: function () {
                            // $.alert('Confirmed!');

                            $.ajax({
                                type: "POST",
                                url: "/opt_delete_confirmed/"+key,
                            }).done(function(data){
                                if(data.success){
                                    $.alert({
                                        title: 'Success',
                                        content: 'Record successfully moved to archive!'
                                    });
                                    $('#list-opt-view').show();
                                    $('#edit-opt-view').hide();
                                    $('#list-opt-view-link').hide();
                                } else{
                                    $.alert({
                                        title: 'Error',
                                        content: 'An error occured.'
                                    });
                                }
                            });

                        },
                        Cancel: function () {
                            // $.alert('Canceled!');
                        },
                    }
                });
            }
        });
    });
</script>